.dashboard-module {
    line-height: 2em;
}

.dashboard-module ul.inline {
    height: 2em !important;
}

.dashboard-module ul li.odd {
    background: #f5f5f5 !important;
}

.dashboard-module ul.inline li {
    background: none !important;
    margin: 0 !important;
}

.dashboard-module h2 {
    background: url("../../admin_tools/images/admin-tools.png") repeat-x scroll 0 -205px transparent !important;
}
.dashboard .module table th {
	width: 100%;
}

.dashboard .module table td {
	white-space: nowrap;
}

.dashboard .module table td a {
	display: block;
	padding-right: .6em;
}

.module ul.actionlist {
	margin-left: 0;
}

ul.actionlist li {
	list-style-type: none;
}