/** 
 * theming styles
 * 
 */

#header {
    background: url(../img/admin-tools.png) 0 0 repeat-x;
}

#header #branding h1 {
    margin: 0;
    padding: 5px 10px;
    text-indent: -9999px;
    background: transparent url(../img/callowaylogo.png) 10px 5px no-repeat !important;
    height: 31px;
    width: 200px !important;
}

div.breadcrumbs {
    display: block;
    padding: 10px 15px;
    border: 0;
    background-position: 0 -8px;
    border-bottom: 1px solid #ededed;
}

div.breadcrumbs a {
    display: inline;
}
