{% extends 'admin/change_form.html' %}

{% load i18n admin_modify adminmedia %}
{% block extrahead %}
    {{ block.super }}
	<style>
		#sortable{
			margin:10px; 
			position: relative;
		}
		#sortable th {
			font-size: .9em;
		}
		#sortable tr{
			padding:5px 10px; 
			border-bottom:1px solid #ABABAB;
			margin:5px 0; 
			background:#fff;
			cursor: move;
		}
		#sortable tr.draggable:hover {
			background-color: #ddd;
		}
		#sortable tr input{
			float:left;
		}
		#change_pending {
			padding:10px 18px;
			background: #fff url({% admin_media_prefix %}img/admin/icon_alert.gif) no-repeat 0 6px;
			font-weight:bold; 
			margin-top:4px;
			color: red;
		}
		.del{
			float:right; 
			font-size:11px; 
			color:#666; 
			margin:5px 0; 
			cursor:pointer;}
		#sortable tr.flagged{
			background-color: #DDD;
			color:#333;
			opacity: 0.5;
		}
		.tDnD_whileDrag td {
			background-color: #888;
			color: red;
		}
		.tip {
			padding-left: 15px;
			margin-bottom: 10px;
			background: #fff url({% admin_media_prefix %}img/admin/icon-unknown.gif) no-repeat 3px 1px;
			line-height: 1.3em;
		}
	</style>
{% endblock %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
	<a href="/admin/">{% trans "Home" %}</a> &rsaquo;
	<a href="/admin/positions/">Positions</a> &rsaquo; 
	<a href="/admin/positions/position/">Position</a> &rsaquo;
	{{ position }}
</div>
{% endif %}{% endblock %}

{% block content %}
<h1>{{ position }} ({{ position.count }} item{{ position.count|pluralize }})</h1>
<div class="tip">
		<strong>Tip:</strong> Make sure you hit <strong>SAVE</strong> button after changing the order of the items. <br/>
		<strong>Tip:</strong> If the items do not look like they where ordered correctly after saving, try <a href=""><strong>clicking here</strong></a>.
</div>

		<div id="change_pending" class="alert" style="display: none">
			You have made a change that has not been saved yet. <a href="">Undo</a>
		</div>
		<form action="." method="POST">
			<div class="module">
				<table id="sortable">
					<tr>
						<th>List Order</th>
						<th>Actions</th>
						<th>Item</th>
						<th>Remove</th>
					</tr>
				{% for form in forms %}
					<tr class="draggable">
						<td>{{ form.order }}</td>
						<td>
							<a class="move_top" href="#" title="Move to Top">&uarr;</a>
							<a class="edit" href="{{ form.fields.order.content_edit }}" target="_blank"><img src="{% admin_media_prefix %}img/admin/icon_changelink.gif" alt="Edit" title="Edit this entry" width="10" height="10" /></a>
							<a class="view" href="{{ form.fields.content.content_object.get_absolute_url }}" target="_blank"><img src="{% admin_media_prefix %}img/admin/selector-search.gif" width="10" height="10" alt="View on site" /></a>
						</td>
						<td>{{ form.fields.order.content.content_object }}</td>
						<td><div class="del deletelink">&nbsp;</div></td>
					</tr>
				{% endfor %}
				</table>
			</div>
			<div class="submit-row" {% if is_popup %}style="overflow: auto;"{% endif %}>
				<input type="submit" value="{% trans 'Save' %}" class="default" name="_save"/>
				<input type='button' onclick='history.go(-1)' value='{% trans "Cancel" %}' id='cancel' name='cancel' />
			</div>
		</form>
	<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}admin/js/jquery-ui-1.8rc3.custom.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.tablednd_0_5.js"></script>
	<script>
		$("#sortable").tableDnD({
			onDragStart: function(table, row) {
				$(row).addClass('tDnD_whileDrag');
			},
			onDrop: function(table, row) {
				recalcOrder();
				$('#change_pending').show();
			}
		});
	</script>
	<script type="text/javascript" charset="utf-8">
		function recalcOrder(){
			var i = 1;
			var j = 1;
			$("td > input").each(function(){
				if(!$(this).parent().parent().hasClass('flagged')) {
					$(this).val(i);
					i++;
				} else {
					$(this).val("-1");
				}
			});
		}
		function init(){
			$('.deletelink').click(function(){
				if ($(this).parent().hasClass('flagged')) {
					$(this).parent().removeClass('flagged');
					$(this).parent().parent().removeClass('flagged');
					$(this).addClass('deletelink');
					$(this).removeClass('addlink');
					$('#change_pending').show();
				} else {
					$(this).parent().addClass('flagged');
					$(this).parent().parent().addClass('flagged');
					$(this).addClass('addlink');
					$(this).removeClass('deletelink');
					$('#change_pending').show();
				}
				recalcOrder();
			});
		}
		$(function() {
			init();
		});
		    </script>
{% endblock %}
