#--extra-index-url=http://opensource.washingtontimes.com/pypi/

######
# API
######
django-piston==0.2.2

######
# User - Management
######
django-staff==0.3.2
django-ban==0.1
ipcalc>=0.1
django-profiles>=0.2

######
# Authentication
######
# openid
# oauth
# Facebook
# other websites
django-registration==0.8-alpha-1


######
# Content
######
django-stories==0.3.3
django-robots==0.7.0
django-frontendadmin==0.4
django-synagg
massmedia==0.4.4
viewpoint==0.3
pollit==0.1.1
pullquote==0.1.1

######
# search
######
django-haystack==1.0.1-final

######
# Comments
######
django-mptt-comments==0.1.1

######
# Content Helpers
######
django-native-tags==0.4
django-pagination==1.0.5
kamasutra==0.1.1
django-tinymce==1.5.1beta1
django-reversion==1.2.1
django-livevalidation==0.1.1
offensivecontent==0.2.3
django-news-sitemaps==0.1.2
critic==0.1.1
django-mailfriend==1.0

######
# Taxonomies
######
django-categories==0.4.3
django-tagging==0.3.1
hiermenu==0.1

######
# Debugging
######
django-debug-toolbar==0.8.3
django-logjam==0.1.1

######
# Caching
######
python-memcached==1.44
django-memcache-status==1.0.1
versionedcache==0.1.0dev
django-varnish==0.1
python-varnish==0.1

######
# Misc Libraries
######
django-mptt-2==0.3
django==1.1.2
simplejson==2.0.9
django-extensions==0.4.1
django-admin-tools==0.2
python-dateutil==1.4.1
BeautifulSoup
lxml
pytidylib
django-picklefield==0.1
feedparser==4.1
google_analytics==0.2
django-uni-form>=0.7

######
# Media
######
django-staticmediamgr==0.5.2
