recursive-include doc_src *
recursive-include docs *

recursive-include calloway/apps/*/templates *.html *.xml
recursive-include calloway/apps/*/fixtures *.json *.xml
recursive-include calloway/apps/*/media *

recursive-include calloway/bin *
recursive-include calloway/conf *
recursive-include calloway/fixtures *
recursive-include calloway/setup *
recursive-include calloway/media *
recursive-include calloway/templates *.html *.xml

prune example
prune project

include LICENSE
include README.txt