recursive-include doc_src *
recursive-include docs *

recursive-include calloway/apps *.txt *.py
recursive-include calloway/bin *.sh
recursive-include calloway/static *.html *.gif *.png *.css *.txt *.js
recursive-include calloway/templates *.html *.xml

include LICENSE
include README
include *.txt

prune project
prune calloway_test
