.dashboard #content {
	*width: 768px;
}

.dashboard #content-main {
	*width: 535px;
}

#container {
	_position: static;
}

.colMS #content-related {
	_margin-right: 0;
	_margin-left: 10px;
	_position: static;
}

.colSM #content-related {
	_margin-right: 10px;
	_margin-left: -115px;
	_position: static;
}

.form-row {
	_height: 1%;
}

#changelist-filter ul {
	_margin-right: -10px;
}

.change-list .filtered {
	_height: 400px;
}