h1,h2,h3,h4,h5 {
	font-weight: bold;
}

p,ol,ul,dl {
	margin: 0;
}

h1 {
	position: relative;
	z-index: 800;
	margin: .5em 0 .5em;
	font-size: 1.5em;
	line-height: 1.3em;
}

.pretitle+h1 {
	margin-top: 0;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: .8em;
}

a {
	text-decoration: none;
	outline: none;
}

a:link,a:visited {
	color: #213e4b;
}

a:hover,a:active {
	color: #4d1410;
}

a.inverse:link,a.inverse:visited {
	color: #444!important;
}

a.inverse:hover,a.inverse:active {
	color: #309bbf!important;
}

a img {
	border: none;
	outline: none;
}

a:link img.preview,a:visited img.preview {
	margin-top: 5px;
	padding: 5px;
	border: 1px solid #309bbf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #fff;
}

a:hover img.preview,a:active img.preview {
	border-color: #666;
}

a.section:link,a.section:visited {
	color: #fff;
}

.pretitle {
	margin: -16px 0 0;
}

.pretitle a {
	font-size: 11px;
	line-height: 15px;
	font-weight: bold;
}

a.addlink,a.changelink,a.deletelink,a.add-another,a.related-lookup,a.fb_show {
	background-repeat: no-repeat;
	background-color: transparent;
}

a.add-another img,a.related-lookup img {
	opacity: 0;
}

a.related-lookup img {
	display: none;
}

a.addlink,a.changelink,a.deletelink {
	position: relative;
	top: 0;
	margin: 0 -1px 10px;
    padding: 1px 0 0 14px;
	background-position: 0 50%;
}

a.addlink:link,a.addlink:visited {
	background-image: url('../img/admin/icon_addlink.gif');
}

a.changelink:link,a.changelink:visited {
	background-image: url('../img/admin/icon_changelink.gif');
}

a.deletelink {
	margin: 0;
}

#changelist .result-list a.related-lookup {
	top: -1px;
}

p {
	padding: 0;
}

h1+p {
	margin: 0 15px;
}

.object-history p {
	padding: 5px 10px;
}

ul li {
	list-style-type: none;
	padding: 1px 0;
}

ul.plainlist {
	margin-left: 0;
}

ul.plainlist li {
	list-style-type: none;
}

#content ul {
	font-weight: bold;
}

#content p+ul,#content ul+ul {
	margin: 0;
15px;
}

#content li ul {
	margin: 5px 0 0 15px;
	font-weight: normal;
}

dt {
	font-weight: bold;
	margin-top: 4px;
}

dd {
	margin-left: 0;
}

blockquote {
	margin-left: 2px;
	padding-left: 4px;
	color: #777;
	font-size: 11px;
	border-left: 5px solid #ddd;
}

code,pre {
	color: #666;
	font-size: 11px;
	font-family: "Bitstream Vera Sans Mono",Monaco,"Courier New",Courier,monospace;
	background: inherit;
}

pre.literal-block {
	margin-top: 10px;
	padding: 6px 8px;
	background: #eee;
}

code strong {
	color: #930;
}

hr {
	clear: both;
	margin: 0;
	padding: 0;
	height: 1px;
	color: #eee;
	font-size: 1px;
	line-height: 1px;
	border: none;
	background-color: #eee;
}

.small {
	font-size: 11px;
}

.tiny {
	font-size: 10px;
}

p.tiny {
	margin-top: -2px;
}

.mini {
	font-size: 9px;
}

p.mini {
	margin-top: -3px;
}

.help,p.help {
	color: #999;
	font-size: 10px!important;
}

p img,h1 img,h2 img,h3 img,h4 img,td img {
	vertical-align: middle;
}

.quiet,a.quiet:link,a.quiet:visited {
	color: #999!important;
	font-weight: normal!important;
}

.quiet strong {
	font-weight: bold!important;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.clear {
	clear: both;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.example {
	margin: 10px 0;
	padding: 5px 10px;
	background: #efefef;
}

.nowrap {
	white-space: nowrap;
}