{% load position_tags %}
{% get_applicable_positions content_type_id object_id as app_positions %}
{% get_content_positions content_type_id object_id as selected_positions %}
<script type="text/javascript">
    $(function() {
        var availableTags = [{% for position in app_positions %}"{{ position.name }}",{% endfor %}];
        $("#selector").autocomplete({
    		source: availableTags,
    		minLength: 2,
    		select: function(event, ui) {
    		    $.get("/position_management/add/"+ ui.item.value +"/{{ content_type_id }}/{{ object_id }}/",function(){
					$('<div class="position"><span class="deletelink" id=pos_"'+ui.item.value+'">&nbsp;</span>'+ui.item.value+'</li>').appendTo("#position-admin-widget-items");
					$("#position-admin-widget-items li .deletelink").bind('click',function(){
						$.get($(this).attr('rel'));
						$(this).parent().remove();
					});
					var ct = $("#position-admin-widget-items div").size();
					switch(ct)
					{
					case 0:
					  $('.position-admin-widget-count').empty().append('No positions selected')
					  break;
					case 1:
					  $('.position-admin-widget-count').empty().append(ct + ' position selected')
					  break;
					default:
					  $('.position-admin-widget-count').empty().append(ct + ' positions selected')
					}
					$("#selector").focus().val('');
				});
    		}
    	});
		$("#position-admin-widget-items .position .deletelink").bind('click',function(){
			var id = $(this).attr('id');
			var pos = id.replace('pos_','');
			$.get('/position_management/remove/'+pos+'/{{ content_type_id }}/{{ object_id }}/');
			$(this).parent().remove();
		});
		$("#selector").focus(function(){
			$('#position-admin-widget-items').fadeIn('fast');
		})
		$("#selector").blur(function(){
			$('#position-admin-widget-items').fadeOut('fast');
		})
	});
</script>
<style>
#position-admin-widget-items {
	border:1px solid;
	border-color: #ddd #aaa #aaa #ddd;
	float:left;
	left:0;
	position:relative;
	width:100%;
	padding: 5px;
	background: #fff;
	display: none;
}
#position-admin-widget-items .position {
	background-color: #f2f2f2;
	border: 1px solid;
	border-color: #ddd #aaa #aaa #ddd;
	display: inline-block;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 3px 5px 2px 1px;
	font-size: 0.9em;
	font-weight: normal;
}
.position-admin-widget-count {
	font-size: 0.9em;
	font-weight: normal;
}
.deletelink {
	background:url("/media/admin_tools/images/admin-tools.png") no-repeat scroll 0 -129px transparent;
	padding-left:16px;
}
</style>
<div id="position-admin-widget">
    <div id="position-admin-widget-input">
        <label for="selector">Positions: </label>
        <input id="selector" />
		<span class="position-admin-widget-count">{% if selected_positions %}
			{{ selected_positions|length }} position{{ selected_positions|length|pluralize }} selected
		{% else %}
			No positions selected
		{% endif %}
		</span>
	</div>
	<div id="position-admin-widget-items">
	{% for position in selected_positions %}
		<div class="position"><span class="deletelink" id="pos_{{ position.name}}">&nbsp;</span>{{ position.name }}</div>
	{% endfor %}
	</div>
</div>

