{% extends "admin/base.html" %}
{% load i18n admin_tools_menu_tags theming_tags %}
{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
{% render_theming_css %}
{% admin_tools_render_menu_css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}admin/css/admin_base.css" type="text/css" media="screen" />
{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}admin/css/changelist.css" type="text/css" media="screen" />
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block nav-global %}
{% if user and user.is_authenticated %}
{% if not is_popup %}
{% admin_tools_render_menu %}
{% endif %}
{% endif %}
{% endblock %}
