-e svn+http://svn.aeracode.org/svn/south/tags/0.5#egg=south

-e git+http://opensource.washingtontimes.com/git/public/django-stories.git/#egg=stories
-e git+http://opensource.washingtontimes.com/git/public/django-categories.git/#egg=categories
-e git+http://opensource.washingtontimes.com/git/public/django-staff.git/#egg=staff
-e svn+http://django-mptt.googlecode.com/svn/trunk/#egg=mptt
-e git+http://github.com/justquick/django-tinymce.git#egg=tinymce
-e git+http://github.com/justquick/django-tagging.git#egg=tagging
-e hg+http://bitbucket.org/jespern/django-piston/#egg=piston
-e git+http://github.com/justquick/django-reversion.git#egg=reversion

django==1.1.1
simplejson==2.0.9
python-memcached==1.44
django-memcached==0.1.2
django-pagination==1.0.5
django-debug-toolbar==0.7.0
django-extensions==0.4.1
python-dateutil==1.4.1
setup/python-imaging_1.1.6-3.tar.gz
psycopg2
ipython
