# Things im on the fence about
# -e svn+http://django-openid.googlecode.com/svn/trunk/#egg=django_openid
# -e svn+http://opensource.washingtontimes.com/projects/public/django-clickpass/trunk/#egg=clickpass
# -e svn+http://opensource.washingtontimes.com/projects/private/hiermenu/trunk/#egg=hiermenu
#   supertagging http://opensource.washingtontimes.com/projects/public/django-supertagging/trunk/supertagging
#   themes -r37 http://opensource.washingtontimes.com/projects/private/themes/trunk
# django-pagination==1.0.5

# API
-e hg+http://bitbucket.org/jespern/django-piston/#egg=piston

# User - Management
-e git+http://opensource.washingtontimes.com/git/public/django-staff.git/#egg=staff
-e git+http://github.com/justquick/django-ban.git#egg=ban
ipcalc>=0.1
django-profiles>=0.2

# Authentication
# openid
# oauth
# Facebook
# other websites


# Content
-e git+http://opensource.washingtontimes.com/git/public/django-stories.git/#egg=stories
-e svn+http://django-robots.googlecode.com/svn/trunk/#egg=robots
-e git+http://github.com/justquick/django-frontendadmin.git#egg=frontendadmin
-e git+http://github.com/justquick/django-synagg.git#egg=synagg
-e git+http://opensource.washingtontimes.com/git/public/massmedia.git/#egg=massmedia
  # saxotech + middleware

# search
  # nsearch
django-haystack

# Comments
-e git+http://github.com/justquick/django-mptt-comments.git#egg=mptt_comments
  # markdown?

# Content Helpers
-e git+http://github.com/justquick/django-native-tags.git#egg=native_tags
django-pagination==1.0.5
-e git+http://opensource.washingtontimes.com/git/public/django-kamasutra.git/#egg=positions
-e git+http://github.com/justquick/django-tinymce.git#egg=tinymce
-e git+http://github.com/justquick/django-reversion.git#egg=reversion
http://typogrify.googlecode.com/files/typogrify-1.0.tar.gz
-e svn+http://opensource.washingtontimes.com/projects/public/django-livevalidation/trunk/#egg=livevalidation
-e git+http://opensource.washingtontimes.com/git/public/offensivecontent.git#egg=offensivecontent
-e git+http://opensource.washingtontimes.com/git/public/django-news-sitemaps.git/#egg=news_sitemaps
  # rss
  # mobile

# Taxonomies
-e git+http://opensource.washingtontimes.com/git/public/django-categories.git/#egg=categories
-e git+http://github.com/justquick/django-tagging.git#egg=tagging
django-navbar

# Debugging
django-debug-toolbar==0.7.0
-e git+http://github.com/justquick/django-logjam.git#egg=logjam

# Caching
python-memcached==1.44
django-memcache-status==1.0.1
-e git+http://github.com/ella/django-versionedcache.git#egg=versionedcache
-e git+http://github.com/justquick/django-varnish.git#egg=varnishapp

# Misc Libraries
-e svn+http://django-mptt.googlecode.com/svn/trunk/#egg=mptt
django==1.1.1
simplejson==2.0.9
south
django-extensions==0.4.1
django-admin-tools
python-dateutil==1.4.1
ipython
BeautifulSoup
lxml
pytidylib
django-picklefield==0.1
feedparser==4.1
-e git+http://github.com/clintecker/django-google-analytics.git#egg=google_analytics
django-uni-form>=0.7

# Media
setup/python-imaging_1.1.6-3.tar.gz
-e git+http://opensource.washingtontimes.com/git/public/django-staticmediamgr.git/#egg=staticmedia
  # media_utils
  # gallery_upload

# Database
psycopg2
